@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-accordion-item {

    &.expanded {
      height: 19.95rem;
    }

    nb-accordion-item-body {
      overflow: auto;
    }

    ::ng-deep .item-body {
      padding: 0;
    }
  }

  .entry {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

}
