<div class="row pathway-header">
  <div class="col">
    <div>
      Patient
    </div>
    <div>
      <nb-card>
        <nb-card-body>
          <nb-user
            [name]="patient?.name"
            [title]="patient?.diagnosis"
            size="large"></nb-user>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-body>
        <ngx-mat-timeline
          class="pathway-timeline"
          position="start"
          orientation="vertical">

          <ngx-mat-timeline-item
            *ngFor="let step of steps;">

            <div class="pathway-item-content" [id]="step.id">
              <nb-accordion class="medium">
                <nb-accordion-item [collapsed]="!isCurrentPathwayStep(step)">
                  <nb-accordion-item-header>
                    <div class="row">
                      <span class="title">{{step.title}}</span>
                      <div style="position: relative">
                        <nb-badge [status]="getBadgeStatus(step)" [text]="getBadgeText(step)"
                                  position="center left"></nb-badge>
                      </div>
                    </div>
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                  </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>
            </div>

            <ng-template ngxMatTimelineItemIcon>
              <div class="pathway-item-icon">
                <nb-icon *ngIf="step.note" [icon]="getIcon(step)" [class]="step.status"
                         [nbTooltip]="step.note"></nb-icon>
                <nb-icon *ngIf="!step.note" [icon]="getIcon(step)" [class]="step.status"></nb-icon>
              </div>
            </ng-template>

          </ngx-mat-timeline-item>

        </ngx-mat-timeline>
      </nb-card-body>
    </nb-card>
  </div>
</div>
